:root{
    --primaryColorFont: #1e3932;
    --secondaryColorFont: rgba(0, 0, 0, 0.87);
    --borderRadius: 30px;
}

html{
    font-size: 62.5%;
}

/* typography */
body{
    font-family: 'Sofia Sans', Arial, Helvetica, sans-serif;
    font-size: 1.728rem;
    color: var(--primaryColorFont);
}

h2{
    font-size: 2.074rem;
    font-weight: 600;
}

h2, p{
    text-align: center;
    margin: 0;
}

p{
    margin-top: 35px;
}    

.registeredSign{
    font-size: 1.44rem;
    font-weight: 300;
}

a{
    color: var(--primaryColorFont);
}

/* frame */
.frame{
    padding: 20px 15px;
    line-height: 1.7;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

/* button */
.btn{
    padding: 6px 15px;
    color: var(--primaryColorFont);
    border: 1px solid var(--primaryColorFont);
    border-radius: var(--borderRadius);
}

.btn-link{
    color: var(--primaryColorFont);
    text-decoration: none;
    font-weight: 400;
}

/* container */
.container{
    width: 100%;
}

/* frameOne */
.frameOne{
    background-color: #d4e9e2;
}

@media screen and (min-width: 375px){
    .headingSmall{
        font-size: 2.421rem;
    }

    p{
        font-size: 1.928rem;
    }

    .registeredSign{
        font-size: 1.74rem;
    }
}

@media screen and (min-width: 768px){
    .container{
        width: 55%;
    }
}

@media screen and (min-width: 1024px){
    .container{
        width: 60%;
    }

    .headingSmall{
        font-size: 3.421rem;
    }

    p{
        font-size: 2.523rem;
    }

    .registeredSign{
        font-size: 2.35rem;
    }
}