:root {
    --primaryColorFont: #1e3932;
    --secondaryColorFont: #00754a;
    --borderRadius: 30px;
}

html {
    font-size: 62.5%;
}

/* typography */
body {
    font-family: 'Sofia Sans', Arial, Helvetica, sans-serif;
    font-size: 1.728rem;
    color: var(--primaryColorFont);
}

h2 {
    font-size: 1.874rem;
    font-weight: 600;
}

h2,
p {
    text-align: center;
    word-spacing: 2px;
}

a {
    color: var(--primaryColorFont);
}

/* registered sign */
.registeredSign {
    font-size: 1.44rem;
    font-weight: 300;
}

@media screen and (min-width: 375px) {
    .registeredSign {
        font-size: 1.74rem;
    }
}

@media screen and (min-width: 1024px) {
    .registeredSign {
        font-size: 2.35rem;
    }
}

/* heading */
.headingSmall,
.headingLarge {
    margin-top: 25px;
    margin-bottom: 0;
    letter-spacing: 1.8px;
    font-weight: 700;
}

.headingLarge {
    font-size: 2.774rem;
}

@media screen and (min-width: 375px) {
    .headingSmall {
        font-size: 2.221rem;
    }
}

@media screen and (min-width: 768px){
    .headingSmall{
        font-size: 2.121rem;
    }
    
    .headingLarge {
        font-size: 2.9rem;
        margin-top: 0;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px){
    .headingSmall {
        font-size: 3.421rem;
    }

    .headingLarge{
        font-size: 5.523rem;
        letter-spacing: 5px;
    }
}

/* button */
.btn {
    padding: 2px 20px;
    color: var(--primaryColorFont);
    border: 1px solid var(--primaryColorFont);
    border-radius: var(--borderRadius);
    /* max-width: 77px; */
    text-decoration: none;
    font-weight: bold;
}

/* link */
.link{
    color: var(--secondaryColorFont);
}

/* message */
.message {
    margin-top: 15px;
    margin-bottom: 30px;
}

.messageLarge {
    font-size: 2.0rem;
    max-width: 570px;
}

@media screen and (min-width: 375px) {
    .message {
        font-size: 1.928rem;
    }

    .messageLarge {
        font-size: 2.141rem;
    }
}

@media screen and (min-width: 768px) {
    .messageLarge {
        margin-top: 0;
        font-size: 2.445rem;
        width: 39.55vw;
    }
}

@media screen and (min-width: 1024px){
    .message {
        font-size: 2.523rem;
    }

    .messageLarge{
        font-size: 2.8rem;
        margin-bottom: 40px;
    }
}

/* container */
.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .container {
        width: 55%;
    }
}

@media screen and (min-width: 1024px){
    .container {
        width: 60%;
    }
}

/* image */
.img {
    width: 100%;
    max-width: 750px;
    max-height: 660px;
}

@media screen and (min-width: 768px){
    .img {
        height: 46vw;
        width: 52vw;
    }
}

@media screen and (min-width: 1440px){
    .img{
        width: 100%;
        height: auto;
    }
}

/* frame */
.frame {
    line-height: 1.7;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.frameFlex{
    display: flex;
    flex-direction: column;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .frameFlex{
        flex-direction: row;
        justify-content: space-between;
    }

    .frameFlex:nth-child(even){
        flex-direction: row-reverse;
    }
}

/* frameOne */
.frameOne {
    background-color: #d4e9e2;
}

.frameOne .message {
    margin-bottom: 0;
}

/* frameTwo */
.frameTwo {
    background-color: #96b2e1;
}

/* frameThree */
.frameThree{
    background-color: #d4e9e2;
}

/* frameFour */
.frameFour{
    background-color: #f7f6f2;
}