<footer class="footer">
    <ul class="list--inline">
        <li class="listItem">
            <div class="collapsible">
                <div class="collapsible__header">
                    <h3>About Us</h3>
                    <span class="iconContainer">
                        <svg class="icon collapsible__chevron">
                            <use xlink:href="images/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
                <ul class="collapsible__content">
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Our Company</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Our Coffee</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Stories and News</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Starbucks Archive</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Investor Relations</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Customer Serivces</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="listItem">
            <div class="collapsible">
                <div class="collapsible__header">
                    <h3>Careers</h3>
                    <span class="iconContainer">
                        <svg class="icon collapsible__chevron">
                            <use xlink:href="images/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
                <ul class="collapsible__content">
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Cultures and Values</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Inclusion, Diversity, and Equity</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">College Achievement Plan</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Alummi Community</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">U.S. Careers</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">International Careers</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="listItem">
            <div class="collapsible">
                <div class="collapsible__header">
                    <h3>Social Impact</h3>
                    <span class="iconContainer">
                        <svg class="icon collapsible__chevron">
                            <use xlink:href="images/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
                <ul class="collapsible__content">
                    <li class="collapsible__content__link">
                        <a class="link" href="#">People</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Planet</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Environmental and Social Reporting</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="listItem">
            <div class="collapsible">
                <div class="collapsible__header">
                    <h3>For Business Partners</h3>
                    <span class="iconContainer">
                        <svg class="icon collapsible__chevron">
                            <use xlink:href="images/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
                <ul class="collapsible__content">
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Landlord Support Center</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Suppliers</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Corporate Gift Card Sales</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Office and Foddserivce Coffee</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="listItem">
            <div class="collapsible">
                <div class="collapsible__header">
                    <h3>Order and Pickup</h3>
                    <span class="iconContainer">
                        <svg class="icon collapsible__chevron">
                            <use xlink:href="images/sprite.svg#chevron"></use>
                        </svg>
                    </span>
                </div>
                <ul class="collapsible__content">
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Order on the App</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Order on the Web</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Delivery</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Order and Pickup Options</a>
                    </li>
                    <li class="collapsible__content__link">
                        <a class="link" href="#">Explore and Find Coffee for Home</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="line"></div>
    <ul class="list list--inline">
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#spotify"></use>
                </svg>
            </span>
        </li>
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#facebook"></use>
                </svg>
            </span>
        </li>
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#pinterest"></use>
                </svg>
            </span>
        </li>
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#instagram"></use>
                </svg>
            </span>
        </li>
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#youtube"></use>
                </svg>
            </span>
        </li>
        <li>
            <span class="iconContainer">
                <svg class="icon">
                    <use xlink:href="images/sprite.svg#twitter"></use>
                </svg>
            </span>
        </li>
    </ul>
    <ul class="list">
        <li class="listItem">
            <a class="readMoreLink" href="#">Privacy Notice</a>
        </li>
        <li class="listItem">
            <a class="readMoreLink" href="#">
                <span class="separation">|</span>Terms of Use</a>
        </li>
        <li class="listItem">
            <a class="readMoreLink" href="#">
                <span class="separation">|</span>Do Not Share My Personal
                Information</a>
        </li>
        <li class="listItem">
            <span class="separation">|</span>
            <a class="readMoreLink" href="#">CA Supply Chain Act</a>
        </li>
        <li class="listItem">
            <a class="readMoreLink" href="#"><span class="separation">|</span>Cookie Preferences</a>
        </li>
    </ul>
    <p class="copyright">&copy; 2023 Starbucks Coffee Company. All rights reserved.</p>
</footer>