<ul class="list">
    <li class="listItem">
        <div class="container">
            <h3>About Us</h3>
            <span class="chevron"></span>
        </div>
    </li>
    <li class="listItem">
        <div class="container">
            <h3>Careers</h3>
            <span class="chevron"></span>
        </div>
    </li>
    <li class="listItem">
        <div class="container">
            <h3>Social Impact</h3>
            <span class="chevron"></span>
        </div>
    </li>
    <li class="listItem">
        <div class="container">
            <h3>For Business Partners</h3>
            <span class="chevron"></span>
        </div>
        <li class="listItem">
            <div class="container">
                <h3>Order and Pickup</h3>
                <span class="chevron"></span>
            </div>
        </li>
    </li>
</ul>