<ul class="list">
    <li class="listItem">
        <a class="readMoreLink" href="#">Privacy Notice</a>
    </li>
    <li class="listItem">
        <a class="readMoreLink" href="#">Terms of Use</a>
    </li>
    <li class="listItem">
        <a class="readMoreLink" href="#">Do Not Share My Personal Information</a>
    </li>
    <li class="listItem">
        <a class="readMoreLink" href="#">CA Supply Chain Act</a>
    </li>
    <li class="listItem">
        <a class="readMoreLink" href="#">Cookie Preferences</a>
    </li>
</ul>